{% load static %}
{% block menu %}
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  &nbsp;&nbsp;&nbsp;&nbsp;  
  <a class="navbar-brand" href="#"><img src="{% static 'website/RVCE.png' %}" alt="My image" width="75"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" href="/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/new"><i class="fa fa-comment"></i> Comment</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-phone"></i> &nbsp;Social Media
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="https://www.youtube.com/"><i class="fa fa-youtube"></i>&nbsp;&nbsp;Youtube</a></li>
        <li><a class="dropdown-item" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i>&nbsp;&nbsp;Linkedin</a></li>
        <li><a class="dropdown-item" href="https://www.twitter.com/"><i class="fa fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>
      </ul>
    </li>
  </ul>
</nav>
{% endblock %}



<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/"><i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/new"><i class="fa fa-wrench"></i> Comment</a>
      <a class="nav-item nav-link" href="#"><i class="fa fa-money"></i> Social Media</a>
      <a class="nav-item nav-link" href ="https://www.youtube.com/channel/UC4Snw5yrSDMXys31I18U3gg"><i class="fa fa-youtube"></i></a>
    </div>
  </div>